// Colors
$dark-blue:         #3f5063;
$grey-brown:        #7a7365;
$orange:            #f27d00;
$red:               #e53600;
$medium-green:      #11b59a;
$light-green:       #47dc5a;
$medium-blue:       #37669e;
$light-blue:        #4783cc;
$faded-medium-blue: #99b1cc;
$faded-light-blue:  #cfd9e6;
$medium-grey:       #d6d6d4;
$light-grey:        #e4e3e0;
$light-white:       #f4f3ef;

// Total width of the design
$total-width:        940px;
// Decimal factor by which to shrink things
// Multiply by this to decrease text, etc., to fit
$mobile-shrink-factor: 0.6;

// Widths of other elements
$pattern-width:      260px;
$pattern-margin:      40px;
$skills-list-width:  340px;
$quote-width:        620px;
$photo-width:        156px;
$photo-width-mobile:  90px;

// Width of a 3 thumbs + their margins
$photos-width:        ($photo-width + 12px) * 3;
$photos-width-mobile: ($photo-width-mobile + 16px) * 3;

@import "webfonts";
@import "h5bp-normalize";
@import "h5bp-main";
@import "compass/css3";
@import "compass/typography/text/replacement";

/* ==|== primary styles =====================================================
   Author: Jeff Byrnes
   ========================================================================== */

html {
  background: url('../img/bg-noise.jpg') repeat center top;
  border-bottom: 4px solid $medium-green;
}

html,
button,
input,
select,
textarea {
  color: $dark-blue;
  font-family: OpenSansRegular, sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */

a {
  color: $medium-green;
  text-decoration: none;
}

a:visited {
  color: $medium-blue;
}

a:hover {
  color: $light-green;
}

a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,
a:active {
  outline: 0;
}

h1 {
  font-family: OpenSansLight, sans-serif;
}

hr {
  background-color: $medium-grey;
  color: $medium-grey;
  margin: 20px auto;
  width: 169px;
  height: 2px;

  @include single-box-shadow(0, 1px, 0, 0, rgba(#fff, 0.7));
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: $total-width;
}

/**
 * Very topmost & bottommost image elements, mostly backgrounds
 */
.header-image,
.footer-image {
  background: url('../img/bg-lines.png') repeat center top;
  text-align: center;
  height: 55px;
}

.footer-image {
  margin-top: 60px;

  @include hide-text();
}

/**
 * Main site background, w/ intro text
 */
.site-header {
  background-repeat: no-repeat;
  background-position: -2px bottom;

  @include background-size(contain);

  border-bottom: 4px solid $medium-green;
  margin-bottom: 27px;
}

footer h1,
footer h2,
.site-header h1,
.site-header h2,
.skills h1,
.quote figcaption {
  font-weight: normal;
  line-height: 1.2;
}

footer h1,
.site-header h1 {
  color: $dark-blue;
  font-size: 5rem;
  margin: 2.8125rem 0 0.3125rem;
}

footer h2,
.site-header h2,
.skills h1,
.quote figcaption,
.np-heading {
  color: $light-green;
  font-family: MuseoSlab500, sans-serif;
  font-size: 1.5rem;
  margin: 0.3125rem 0 1.8125rem;
}

.social-links {
  border-top: 2px solid $medium-grey;
  margin: 0 auto;
  padding: 1.125rem 0.625rem 0;
  width: (2rem * 4) + (0.5rem * 3);

  li {
    float: left;
  }
}

.social-link {
  // background-color: $light-blue;
  display: block;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;

  @include border-radius(15px);
  @include background-clip(padding-box);
  @include hide-text();
}

.social-link:hover {
  @include box-shadow(rgba(black, 0.5) 2px 2px 10px);
}

#social-twitter {
  background-position: -2.375rem 0;
}

#social-flickr {
  background-position: -4.8125rem 0;
}

#social-github {
  background-position: -7.25rem 0;
  margin-right: 0;
}

.main {
  line-height: 1.533;
}

/**
 * Skills
 */
.skills {
  background-color: #f8f8f5;
  margin: 3.25rem 0 0;
  padding: 2.3125rem 0;

  h1 {
    margin-bottom: 2.125rem;
  }

  ul {
    list-style: none;
    line-height: 1.5625rem;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 1.5625rem;
    min-width: percentage($skills-list-width / $total-width);
  }

  li {
    color: $medium-green;
    font-family: MuseoSlab700, sans-serif;
    font-size: 0.875rem;
    display: inline;
  }

  li::after {
    color: #bfbfbb;
    content: "•";
    margin: 0 0.375rem 0 0.625rem;
  }

  li:last-child::after {
    content: "";
    margin: 0;
  }

  p {
    clear: both;
    margin: 0.125rem 0 2rem;
  }
}

.button,
.button:visited {
  background-color: $medium-green;
  color: $light-white;
  display: inline-block;
  font-size: 0.75rem;

  @include font-declaration("OpenSansBold");

  padding: 0.3125rem 1.25rem;
  position: relative;
  text-transform: uppercase;

  @include border-radius(15px);
  @include background-clip(padding-box); /* prevents bg color from leaking outside the border */
}

.button:hover {
  color: #fff; // Explicitly stated here to override generic :hover styles

  @include single-box-shadow(0, 1px, 3px, 1px, rgba(#000, 0.25));
}

.button:active {
  top: 1px;

  @include single-box-shadow(0, 0, 3px, 0, rgba(#000, 0.25));
}

/**
 * Flickr Photos
 */
.photos {
  margin: 3.75rem 0 4.6875rem;

  h1 {
    font-size: 1rem;
    font-weight: normal;
  }
}

.flickr-photos {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: $photos-width;

  img {
    border: 3px solid #fff;

    @include single-box-shadow(0, 0, 0, 1px, $medium-grey);
  }

  img:hover {
    @include single-box-shadow(0, 0, 2px, 2px, $medium-grey);
  }

  img:active {
    @include single-box-shadow(0, 0, 2px, 2px, $light-grey);
  }
}

.flickr-thumb {
  float: left;
  margin: 0.3125rem;
}

.flickr-thumb:nth-of-type(4) {
  clear: both;
}

/**
 * Quote
 */
.quote {
  blockquote {
    background:
      url('../img/quote-left.png')  no-repeat center left,
      url('../img/quote-right.png') no-repeat center right;
    font-family: OpenSansLight, sans-serif;
    font-size: 3.125rem;
    line-height: 1.08;
    margin: 1em auto;
    padding: 0 7.5rem;
    width: percentage($quote-width / $total-width);
    max-width: 620px;
  }
}

/**
 * Twitter
 */
.twitter {
  .twitter-timeline {
    display: block !important;
    margin: 5rem auto 0.625rem;
    padding: 0;
  }
}

/**
 * Footer
 */
footer {
  clear: both;
  margin-top: 4.0625rem;

  h1 {
    margin-top: 1.875rem;
  }
}

.now-playing-container {
  padding: 2.3125rem 0;
}

.now-playing {
  opacity: 1;
  border: 0;

  &:hover img {
    transform: scale(1.02) translateX(-0.2vw) perspective(500px) rotate3d(0, -1, 0.01, 6deg);
  }

  img {
    opacity: 0;
    transform: scale(0.97) translateX(10px) perspective(500px);
    border-radius: 2px;
    // Sass is case-sensitive, so we uppercase min() to bypass name collisions
    // https://css-tricks.com/when-sass-and-new-css-features-collide/#the-solution
    width: Min(20vw, calc(100vh - 30px), 400px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);
  }

  &.loaded img {
    opacity: 1;
    transform: perspective(500px) rotate3d(0, -1, 0, 4deg);
  }

  .np-metadata {
    margin-top: 1rem;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    transition-delay: 0.5s;

    > span {
      display: block;
      letter-spacing: -0.01em;
      font-weight: 500;
      line-height: 1.8;
    }

    .np-roon {
      width: 0.625rem;
      opacity: 0.5;
    }

    .breather {
      margin-right: 8px;
      display: inline-block;
      animation: pulsate 5s linear 0s infinite;
    }
  }

  &.loaded .np-metadata {
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.2, 0.2) rotate(0deg);
    opacity: 0;
  }

  50% {
    transform: scale(1, 1) rotate(50deg);
    opacity: 1;
  }

  80% {
    transform: scale(1.8, 1.8) rotate(80deg);
    opacity: 0.2;
  }

  100% {
    transform: scale(4, 4) rotate(100deg);
    opacity: 0;
  }
}

@import "h5bp-media-queries";
@import "h5bp-helpers";
@import "h5bp-print";
